FLASK_APP=app.py
FLASK_ENV=development
SECRET_KEY=tu_clave_secreta
JWT_eXP_MINUTES=15
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=tu_contraseña
DB_NAME=alojamientos_db
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000


